* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.Container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  height: 80vh;
}

.FirstSection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  color: hsl(300, 43%, 22%);
}

.bloc1 {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

.bloc2 {
  display: flex;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 24%, 96%);
  justify-content: space-between;
}

.SecondSection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.card {
  justify-content: center;
  height: 65%;
  padding: 40px;
  flex-basis: 500px;
  background-color: hsl(300, 43%, 22%);
  color: white;
}

.imagecard1 {
  display: flex;
  flex-direction: row;
}

.img {
  border-radius: 50%;
}

.card {
  border-radius: 7px;
}

.imagecard2 {
  display: flex;
  flex-direction: row;
}

.imagecard3 {
  display: flex;
  flex-direction: row;
}
