* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  font-size: 14px;
  /* background-image: url(/atelier2/images/bg-desktop.png);
  background-repeat: no-repeat; */
}

.Container {
  height: 100vh;
  column-gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: self-end;
  align-content: center;
}

.firstsection {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  padding-right: 90px;
}

.icons {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.icons img {
  background-color: hsl(229, 57%, 11%);
  padding: 9px;
  border-radius: 5px;
}

.secondsection {
  height: 150px;
  width: 500px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.secondsection p {
  font-weight: 400;
  color: white;
}

.progressbar {
  width: 400px;
  height: 21px;
  border-style: solid;
  border-color: hsl(229, 57%, 11%);
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px 10px 10px 10px;
}

.bar {
  width: 290px;
  height: 15px;
  background-image: linear-gradient(45deg, #fe9f98, #fb4d92);
  border-radius: 10px 10px 10px 10px;
}
.cercle {
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 275px;
}

.text2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.path {
  height: 60;
  width: 100;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  background-color: white;
  padding-left: 10px;
  padding-top: 15px;
  position: relative;
  top: 30px;
  right: 30px;
  border-radius: 8px;
}

.secondsectionglob {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
